
header {
    background-color: #f9ab52;
    border-radius: 20px 20px 0 0;
    font-size: 1.3rem;
    color: #fefafd;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn {
    padding: 0;
    border: none;
    background: none;
    margin: 25px;
    color: #fefafd;
    font-size: 1.5rem;
    cursor: pointer;
}

.icon:hover{
    color: rgb(47, 46, 59);
}