.radio-container {
    width: 350px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .radio-container {
        width: 25%;
        overflow: hidden;
    }
}

main {
    width: 300;
    height: 350px;
    background-color: rgb(47, 46, 59);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.stationsList {
    list-style: none;
    background-color: rgb(47, 46, 59);
    padding: 20px;
}